.search_filter_container {
  margin-left: 3.75rem !important;
  margin-right: 3.75rem !important;
}

.search_annonces_list {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

@media (max-width: 425px) {
  .search_filter_container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .search_annonces_list {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .search_filter_button {
    margin-top: 20px;
  }
}
