.statistics_inscriptions_container {
  border: 1px solid #3699ff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.statistics_missions_container {
  border: 1px solid #34c5bd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.statistics_contracts_container {
  border: 1px solid #fbc45c;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.statistics_applicants_container {
  border: 1px solid #1b8000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.color_green {
  color: #1b8000 !important;
}

.statistics_clients_container {
  border: 1px solid #8950fc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.statistics_connexions_container {
  border: 1px solid #f64e60;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
