.title_container_radius {
  border-radius: 10px;
}

.document_icon {
  margin-right: 10px;
}

.required_asterix {
  color: red;
}

.h-30 {
  height: 30px;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 786px) {
  .document_icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .google-map-input-container {
    width: 80%;
  }
  .padding-info-container {
    padding: 5rem 10px;
  }
}

@media (max-width: 425px) {
  .google-map-input-container {
    width: 78%;
  }
  .padding-info-container {
    padding: 5rem 5px;
  }
}
