/*.datepicker_height {
    height: 55px !important;
}*/

.datepicker_container_36{
    width: 100%;
}

.datepicker_container_36 .react-datepicker-wrapper .react-datepicker__input-container{
    height: 36px !important;
}

.datepicker_container_36 .react-datepicker-wrapper .react-datepicker__input-container .form-control {
    height: 36px !important;
}

.datepicker_container_55{
    width: 100%;
}

.datepicker_container_55 .react-datepicker-wrapper .react-datepicker__input-container{
    height: 55px !important;
}

.datepicker_container_55 .react-datepicker-wrapper .react-datepicker__input-container .form-control {
    height: 55px !important;
}
